@import '../../scss/variables.scss';
@import '../../scss/btn.scss';

.cell {
	background: #fff;
	position: relative;
	min-height: 200px;
	height: 100%;
	width: 300px;
	list-style-type: none;
	box-shadow: 0px;
	transition: 0.2s all;
	margin-left: $cell-margin-left;
	&:first-child {
		margin-left: 0px;
	}
	&::before {
		content: "";
		position: absolute;
		display: none;
		width: 6px;
		height: 100%;
		background: rgba($title-background-color-card, 1);
		left: -18px;
		z-index: 10;
		border-radius: 2px;
	}
	&::after {
		content: "";
		position: absolute;
		display: none;
		width: 6px;
		height: 100%;
		background: rgba($title-background-color-card, 1);
		right: -18px;
		z-index: 10;
		border-radius: 2px;
	}
	&__beforeline {
		&::before {
			top: 0px;
			display: block;
		}
	}
	&__afterline {
		&::after {
			top: 0px;
			display: block;
		}
	}
	&__wrapper {
		opacity: 1;
		transition: 0.15s all;
		&_dragging {
			transition: 0.15s all;
			opacity: 0.5;
		}
	}
	&__hover {
		box-shadow: 0 0 12px rgba(0,0,0,0.5);
		transition: 0.2s all;
		cursor: move;
	}
	&__title {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 45px;
		font-size: 18px;
		font-weight: 600;
		color: $title-color;
		background: $title-background-color;
		text-transform: uppercase;
	}
	&__wrapperList {
		padding: 20px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
	&__list {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		min-height: 100px;
		transition: 0.2s all;
		&_hovered {
			background: pink;
			transition: 0.2s all;
		}
	}
	&__btn {
		@include btnAddedItem(48px, 54px, auto, 60px, 6px);
	}
}