@import '../../scss//variables.scss';

.card {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 150px;
	list-style-type: none;
	overflow: hidden;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	transition: 0.2s all;
	box-shadow: 0px;
	opacity: 1;
	&:first-child {
		margin-top: 0px;
	}
	&:hover {
		box-shadow: 0 0 8px rgba(0,0,0,0.5);
		transition: 0.2s all;
		cursor: move;
	}
	&__title {
		background: $title-background-color-card;
		color: #fff;
		height: 35px;
		width: 100%;
		font-size: 18px;
		font-weight: 600;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__desc {
		background: $desc-background-card;
		flex-grow: 1;
		padding: 10px;
		font-size: 16px;
		font-weight: 400;
	}
	&__dragging {
		opacity: 0.5;
		display: flex;
	}
	&__preview {
		display: none;
		&_active {
			margin-top: 0;
			opacity: 1;
			// transform: rotate(15deg);
			display: flex;
			position: absolute;
		}
	}
	&__wrapper {
		list-style-type: none;
		margin-top: 20px;
	}
}