@import '../../scss/variables.scss';

.modal{
	width: 100vw;
	height: 100vh;
	left: 0px;
	top: 0px;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0,.7);
	backdrop-filter: blur(10px);
	.modalWrapper {
		width: 50vw;
		height: 60vh;
		background: #D0D0D0;
		padding: 15px;
	}
}